/* Styles pour le corps */
body {
    background-color: #498EAF;
    font-family: 'Black Ops One', system-ui;
    overflow: hidden; /* Masquer le défilement */
}

/* Styles pour l'en-tête (h1) */
h1 {
    text-align: center;
    font-size: 40px;
    margin-left: 11vh;
    bottom: 90%; /* Ajuster la position depuis le bas */
    color: #003853;
}

/* Styles pour l'image du logo */
.imglogo {
    height: 15%; /* Définir la hauteur de l'image */
    position: absolute;
    bottom: -1%;
}

/* Styles pour l'élément rond fixe */
.rond {
    position: fixed;
    right: 0%;
    bottom: 0%;
    height: 22vh; /* Définir la hauteur de l'élément rond */
    width: 51%; /* Définir la largeur de l'élément rond */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styles pour une petite image décorative */
.imgdec {
    width: 200px; /* Définir la largeur de l'image */
    height: 200px; /* Définir la hauteur de l'image */
}

/* Styles pour la croix positionnée en haut à gauche */
.croix {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 10vh; /* Définir la hauteur de la croix */
    width: 10vh; /* Définir la largeur de la croix */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styles pour une image avec une croix */
.imgcroix {
    width: 300px; /* Définir la largeur de l'image */
    height: 200px; /* Définir la hauteur de l'image */
}

.button1 {
    background-color: #003853;
    color: white;
    padding: 15px 32px;
    border-radius: 15px;
    margin-top: 70%;
    display: flex;
    margin-left: 10%;
    border: none;
    margin-bottom: 5%;
}

.button2 {
    background-color: #003853;
    margin-bottom: 17%;
    margin-left: 29%;
    color: white;
    padding: 15px 32px;
    display: flex;
    border-radius: 15px;
    border: none;
}

.button3 {
    background-color: #003853;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    border-radius: 15px;
    margin-bottom: 5%;
    border: none;
    font-size: 13px;
    width: 45%;
}

.button4 {
    background-color: #003853;
    margin-right: auto;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 13px;
    border-radius: 20px;
    bottom: 0%;
    border: none;
}
.button5 {
    background-color: #003853;
    margin-bottom: 17%;
    margin-left: 29%;
    color: white;
    padding: 15px 32px;
    display: flex;
    border-radius: 15px;
    border: none;
}
.button6 {
    background-color: #003853;
    margin-bottom: 17%;
    margin-left: 29%;
    color: white;
    padding: 15px 32px;
    display: flex;
    border-radius: 15px;
    border: none;
}
.button7 {
    background-color: #003853;
    margin-right: auto;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 13px;
    border-radius: 20px;
    bottom: 0%;
    border: none;
    margin-bottom: 5%;
    margin-top: 25%;
}
a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

div.froggy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
