body {
    background-color: #498EAF;
    font-family: 'Black Ops One', system-ui;
    overflow: hidden; /* Masquer le défilement */
}

/* Styles pour l'en-tête (h1) */
h1 {
    text-align: center;
    font-size: 40px;
    z-index:  1;
    bottom: 90%; /* Ajuster la position depuis le bas */
    color: #003853;
}

/* Styles pour l'image du logo */
.imglogo {
    height: 15%; /* Définir la hauteur de l'image */
    position: absolute;
    bottom: 0%;
    
}

/* Styles pour l'élément rond fixe */
.rond {
    position: fixed;
    bottom:10%;
    right: 15%;
    height: 10vh; /* Définir la hauteur de la croix */
    width: 10vh; /* Définir la largeur de la croix */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styles pour une petite image décorative */
.imgdec {
    width: 200px; /* Définir la largeur de l'image */
    height: 200px; /* Définir la hauteur de l'image */
}

/* Styles pour la croix positionnée en haut à gauche */
.croix {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 10vh; /* Définir la hauteur de la croix */
    width: 10vh; /* Définir la largeur de la croix */
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* Styles pour une image avec une croix */
.imgcroix {
    width: 300px; /* Définir la largeur de l'image */
    height: 200px; /* Définir la hauteur de l'image */
    
}

.pagerobot,
.pageplayer,
.Apropos,
.regle {
    background-color: #003853;
    color: white;
    padding: 15px;
    border-radius: 15px;
    border: none;
    width: 65%;
    margin-top: 3%;
    text-align: center;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

.froggy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45%;
}

@media only screen and (max-width: 375px) {
    .froggy {
        margin-top: 23%;
    }
}

@media only screen and (max-width: 400px) {
    
    .imgcroix{
        width: 200px;
        height: 150px;
    }

    

}

@media only screen and (min-width: 480px) {
    .froggy {
        margin-top: 28%; 
        justify-content: center;
        align-items: center;
      
    }

    .pagerobot,
    .pageplayer,
    .Apropos,
    .regle {
        padding: 15px;
        border-radius: 15px;
        width: 65%;
        margin-top: 3%;
    }

    /*.rond {
        width: 65%;
        right: -35%;
    }*/
}
/*@media only screen and (min-width: 700px) {
    .rond {
        width: 65%;
        right: -40%;
    }
}*/

@media only screen and (min-width: 768px) {
    .froggy {
        margin-top: 15%;
    }
    .rond {
        width: 65%;
        right: -45%;
    }
}

@media only screen and (min-width: 1024px) {
    .froggy {
        margin-top: 10%;
    }
}
@media only screen and (min-width: 865px) {
    .rond {
        width: 65%;
        right: -47%;
    }
}

@media only screen and (min-width: 1127px) {
    .rond {
        width: 65%;
        right: -50%;
    }
}

@media only screen and (min-width: 1440px) {
    .froggy {
        margin-top: 3%;
    }
    .rond {
        width: 65%;
        right: -54%;
    }
}

@media only screen and (min-width: 1920px) {
    .froggy {
        margin-top: 0;
    }
}


