body{
background-color: #498EAF;
font-family: 'Black Ops One', system-ui;
}
h1{
    text-align: center;
    font-size: 40px;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5vh;
  }
  .griditem {
    background-color: none;
    border: 2px solid rgba(0, 0, 0, 0.8);
  
    padding: 20px;
    font-size: 30px;
    height: 12vh;
    text-align: center;
  }
  img{
    height: 15vh;
    width: 15vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-end;
    bottom: 0;
    width: 99%;
    height: 50%;
    }
    .button1{
        background-color: #003853;
        margin-right: auto;
        border: none;
        color:white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        margin-bottom: 1px;
    }
    
    .button2{
        background-color: #003853;
        margin-right: auto;
        border:none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        margin-bottom: 1px;
    }
    .button3{
        background-color: #003853;
        margin-right: auto;
        border:none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        margin-bottom: 1px;
        position: absolute;
        bottom: 0;
        margin-left: 38%;

max-width: 10cm;
    }
    .bottom {
        
        display: block;
        
        position: absolute;
        bottom: 0;
        left: 25%;
        right: 25%;
       
    }
.flex{
    display: flex;
}
.imgdec{
    height: 35vh;
    width: 35vh;
}
.imgCenterPage{
    display: flex;
    align-items:center;
justify-content:center;
}
